

.center {
    text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}