<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<h1 class="center">AI Generated Art</h1>

{% for row in all_info | batch(3, '&nbsp;') %}
<div class="row">
    {% for item in row %}
    <div class="column">
        <figure>
            <img src="{{url_for('static', filename=item[2])}}" style="width:75%">
            <figcaption>{{item[1]}}</figcaption>
        </figure>
    </div>
    {% endfor %}
</div>
{% endfor %}
  

</body>
</html>